URxvt.scrollBar: false
/* smoothing fonts */
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

/* input method */
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

URxvt.perl-lib: $HOME/.urxvt/ext
URxvt.perl-ext-common:  default,matcher,selection-to-clipboard,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.font: xft:InconsolataN:size=15,\
            xft:SpaceMono:size=14,\
            xft:monospace:size=14,\
            xft:Noto Sans CJK TC:regular:pixelsize=14
            xft:FiraCode:size=12,\
            xft:Inconsolatazi4:size=15,\
URxvt.iconFile: /home/ej/.icons/utilities-terminal-symbolic.symbolic-white.png

/* *accent:         #E60012 */
*accent:         #569CD6


/* *cor1:           #B5BD68 */
/* *cor2:           #8C9440 */
/* *cor3:           #626262 */
/* *cor4:           #373B41 */
/* *bar_bg:         #1D1F21 */
/* *branco:         #FFFFFF */
/* *preto:          #000000 */
/* *border:         #8A8A8A */
/* !*accent:         #B5BD68 */


! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

/* #define nord0 #2E3440 */
/* #define nord1 #3B4252 */
/* #define nord2 #434C5E */
/* #define nord3 #4C566A */
/* #define nord4 #D8DEE9 */
/* #define nord5 #E5E9F0 */
/* #define nord6 #ECEFF4 */
/* #define nord7 #8FBCBB */
/* #define nord8 #88C0D0 */
/* #define nord9 #81A1C1 */
/* #define nord10 #5E81AC */
/* #define nord11 #BF616A */
/* #define nord12 #D08770 */
/* #define nord13 #EBCB8B */
/* #define nord14 #A3BE8C */
/* #define nord15 #B48EAD */

/* /1* *.foreground:   nord4 *1/ */
/* /1* *.background:   nord0 *1/ */
/* *.cursorColor:  nord4 */
/* *.foreground:   #ffffff */
/* *.background:   #0b0a18 */
/* /1* *.cursorColor:  #ffffff *1/ */

/* *fading: 45 */
/* *fadeColor: nord0 */

/* *.color0: nord1 */
/* *.color1: nord11 */
/* *.color2: nord14 */
/* *.color3: nord13 */
/* *.color4: nord9 */
/* *.color5: nord15 */
/* *.color6: nord8 */
/* *.color7: nord5 */
/* *.color8: nord3 */
/* *.color9: nord11 */
/* *.color10: nord14 */
/* *.color11: nord13 */
/* *.color12: nord9 */
/* *.color13: nord15 */
/* *.color14: nord7 */
/* *.color15: nord6 */



!
!   ██████  ██████  ██   ██ ██████  █████   █████  ██████  █████  ██████
!  ██░░░░  ██░░░░██░██  ░██░░██░░████░░░██ ██░░░██░░██░░████░░░██░░██░░██
! ░░█████ ░██   ░██░██  ░██ ░██ ░░░██  ░░ ░███████ ░██ ░░░███████ ░██ ░░
!  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░██   ░██░░░░  ░██   
!  ██████ ░░██████ ░░██████░███   ░░█████ ░░██████░███   ░░██████░███   
! ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░     ░░░░░░ ░░░   
!  r  e  a  d     c  o  d  e     l  i  k  e     a     w  i  z  a  r  d 
!
! sourcerer by xero harrison (http://sourcerer.xero.nu)
!  ├─ based on sorcerer by Jeet Sukumaran (http://jeetworks.org)
!  └─ based on mustang by Henrique C. Alves (hcarvalhoalves@gmail.com)

*fading:        25
*fadeColor:     #222222

! █▓▒░ scorcerer colors
/* *.foreground:   #c2c2b0 */
*.foreground:   #D8DEE9
/* *.background:   #222222 */
*.background:   #0b0a18
*.cursorColor:  #c2c2b0
! black
*.color0:       #111111
*.color8:       #181818
! red
*.color1:       #aa4450
/* *.color9:       #ff6a6a */
*.color9:       #E60012 
! green
*.color2:       #719611
*.color10:      #b1d631
! yellow
*.color3:       #ff9800
*.color11:      #87875f
! blue
*.color4:       #6688aa
*.color12:      #90b0d1
! magenta
*.color5:       #8f6f8f
*.color13:      #8181a6
! cyan
*.color6:       #528b8b
*.color14:      #87ceeb
! white
*.color7:       #d3d3d3
*.color15:      #c1cdc1
! stylized
*.colorIT:      #719611
*.colorBD:      #d3d3d3
*.colorUL:      #528b8b
